In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.0.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

In [18]:
import pandas as pd
import numpy as np

In [19]:
import os
from datetime import datetime
from scipy import stats

In [5]:
#Construct the file path
file_path = os.path.join(os.path.expanduser("~"), "Downloads", "MOCK_DATA.csv")

In [6]:
#Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

In [7]:
#Calculate the number of rows to load
num_rows = int(len(df) * 0.75)

In [8]:
#Load only the first 75% of the rows
df_75 = df.iloc[:num_rows]

In [9]:
# Identify consecutive duplicates
consecutive_duplicates = df_75.duplicated(keep=False) & (df_75.shift() == df_75).all(axis=1)

# Remove consecutive duplicates
df_75 = df_75[~consecutive_duplicates]

print(df_75)

     Customer ID                Country  Total Purchases         Sign-up Date
0           1015  Palestinian Territory               12  2022-04-03 21:42:29
1           1029                  China               47  2016-01-08 03:13:12
2           1025                Nigeria               10  2023-02-20 19:06:14
3           1006         United Kingdom               48  2022-05-26 12:46:35
4           1024            Philippines               16  2016-12-13 03:44:04
..           ...                    ...              ...                  ...
745         1024           South Africa               16  2023-06-29 16:06:53
746         1009                Nigeria               21  2016-08-16 01:46:44
747         1012                 Angola               29  2022-10-10 22:54:07
748         1003              Indonesia               30  2015-09-17 14:03:25
749         1014               Thailand                4  2020-12-22 14:40:21

[750 rows x 4 columns]

In [10]:
# Convert 'Sign-up Date' to datetime
df_75['Sign-up Date'] = pd.to_datetime(df_75['Sign-up Date'])

# Replace 2020 dates with NaN
df_75['Sign-up Date'] = df_75['Sign-up Date'].apply(lambda x: pd.NaT if x.year == 2020 else x)

print(df_75['Sign-up Date'])

0     2022-04-03 21:42:29
1     2016-01-08 03:13:12
2     2023-02-20 19:06:14
3     2022-05-26 12:46:35
4     2016-12-13 03:44:04
              ...
745   2023-06-29 16:06:53
746   2016-08-16 01:46:44
747   2022-10-10 22:54:07
748   2015-09-17 14:03:25
749                   NaT
Name: Sign-up Date, Length: 750, dtype: datetime64[ns]

In [11]:
# Drop rows where 'Total Purchases' < 5 and 'Country' is 'Canada'
df_75 = df_75.drop(df_75[(df_75['Total Purchases'] < 5) & (df_75['Country'] == 'Canada')].index)

print(df_75)

     Customer ID                Country  Total Purchases        Sign-up Date
0           1015  Palestinian Territory               12 2022-04-03 21:42:29
1           1029                  China               47 2016-01-08 03:13:12
2           1025                Nigeria               10 2023-02-20 19:06:14
3           1006         United Kingdom               48 2022-05-26 12:46:35
4           1024            Philippines               16 2016-12-13 03:44:04
..           ...                    ...              ...                 ...
745         1024           South Africa               16 2023-06-29 16:06:53
746         1009                Nigeria               21 2016-08-16 01:46:44
747         1012                 Angola               29 2022-10-10 22:54:07
748         1003              Indonesia               30 2015-09-17 14:03:25
749         1014               Thailand                4                 NaT

[748 rows x 4 columns]

In [14]:
# Drop rows based on 'Total Purchases' and 'Country'
df_75 = df_75.drop(df_75[(df_75['Total Purchases'] < 5) & (df_75['Country'] == 'Canada')].index)

# Feature Engineering: Create 'Loyalty Score'
current_date = datetime.now()

In [15]:
def calculate_loyalty_score(row):
    total_purchases = row['Total Purchases']
    sign_up_date = row['Sign-up Date']

    if total_purchases > 20:
        return 3
    elif 10 <= total_purchases <= 20:
        return 2
    else:
        if pd.notna(sign_up_date): #ensure that there is a valid date.
            years_since_signup = (current_date - sign_up_date).days / 365.25
            if years_since_signup > 3:
                return 2
            else:
                return 1
        else:
            return 1 # if the sign up date is NaN, return 1.

In [16]:
df_75['Loyalty Score'] = df_75.apply(calculate_loyalty_score, axis=1)

print(df_75[['Total Purchases', 'Sign-up Date', 'Loyalty Score']].head(10)) #display the relevant columns.

   Total Purchases        Sign-up Date  Loyalty Score
0               12 2022-04-03 21:42:29              2
1               47 2016-01-08 03:13:12              3
2               10 2023-02-20 19:06:14              2
3               48 2022-05-26 12:46:35              3
4               16 2016-12-13 03:44:04              2
5               20 2016-05-26 22:29:44              2
6               14 2022-09-08 16:30:56              2
7               15 2021-04-14 18:55:03              2
8               14                 NaT              2
9                3                 NaT              1

In [21]:
# Data Aggregation & Filtering
# Exclude Mexico
df_filtered = df_75[df_75['Country'] != 'Mexico']

# Group by Country and calculate aggregations
grouped_data = df_filtered.groupby('Country').agg(
    Avg_Total_Purchases=('Total Purchases', 'mean'),
    Max_Total_Purchases=('Total Purchases', 'max'),
    Most_Common_Loyalty_Score=('Loyalty Score', lambda x: stats.mode(x).mode[0]) 
)

print(grouped_data)

             Avg_Total_Purchases  Max_Total_Purchases  \
Country
Afghanistan             8.000000                   20
Albania                20.500000                   38
Andorra                11.000000                   11
Angola                 15.000000                   29
Argentina              24.692308                   45
...                          ...                  ...
Vanuatu                22.000000                   22
Venezuela              25.333333                   43
Vietnam                24.333333                   47
Yemen                  10.000000                   15
Zimbabwe                8.000000                    8

             Most_Common_Loyalty_Score
Country
Afghanistan                          2
Albania                              2
Andorra                              2
Angola                               2
Argentina                            3
...                                ...
Vanuatu                              3
Venezuela                            3
Vietnam                              3
Yemen                                2
Zimbabwe                             2

[111 rows x 3 columns]

In [22]:
# Data Export & Report Generation
#Generate the filename
today = datetime.now()
date_str = today.strftime("%d_%m_%Y")
filename = f"processed_data_{date_str}.csv"

In [23]:
#Select columns and save to CSV
selected_columns = ["Customer ID", "Loyalty Score", "Country", "Total Purchases"]
df_75[selected_columns].to_csv(filename, index=False)

In [24]:
#Shuffle and print the first 10 rows
shuffled_df = df_75.sample(frac=1).reset_index(drop=True)
print(shuffled_df[selected_columns].head(10))

   Customer ID  Loyalty Score                   Country  Total Purchases
0         1028              2                    Russia               14
1         1009              3                   Nigeria               21
2         1016              2                    Russia               13
3         1028              2                Azerbaijan                9
4         1012              2                   Armenia                1
5         1006              1                 Macedonia                3
6         1000              3  Central African Republic               29
7         1003              1                 Indonesia                1
8         1016              3               Netherlands               30
9         1014              3               Philippines               22

In [25]:
# Markdown Report
report = """
# Data Analysis Report

This report summarizes the findings from the analysis of the customer dataset. 
Initially, the dataset was cleaned by removing consecutive duplicate rows and handling missing sign-up dates, particularly those from the year 2020. 
Furthermore, rows with low total purchases from Canadian customers were excluded to refine the data. 
A 'Loyalty Score' feature was engineered to categorize customers based on their purchase behavior and membership duration, revealing valuable insights into customer engagement. 
Aggregating the data by country, excluding Mexico, showed variations in average and maximum total purchases, as well as the most common loyalty scores. 
Finally, the processed data was exported to a CSV file, and a sample of shuffled records was presented to showcase the refined dataset.
"""

print(report)

# Data Analysis Report

This report summarizes the findings from the analysis of the customer dataset. Initially, the dataset was cleaned by removing consecutive duplicate rows and handling missing sign-up dates, particularly those from the year 2020. Furthermore, rows with low total purchases from Canadian customers were excluded to refine the data. A 'Loyalty Score' feature was engineered to categorize customers based on their purchase behavior and membership duration, revealing valuable insights into customer engagement. Aggregating the data by country, excluding Mexico, showed variations in average and maximum total purchases, as well as the most common loyalty scores. Finally, the processed data was exported to a CSV file, and a sample of shuffled records was presented to showcase the refined dataset.